@import url('common.css');


/* header */
header {
  background: rgba(0, 0, 0, 0.2);
  width: 100%; /* position값 주면 가로 깨져서 해줘야함 */
  height: 100px;
  line-height: 100px;
  position: fixed;
  top: 0;
}
header .inner-header {
  /* border: 3px solid tomato; */
  width: 84%;
  margin: 0 auto;
}

header .inner-header .logo {
  /* border: 3px solid violet; */
  float: left;
  width: 200px;
}
header .inner-header .logo img {
  width: 100%; /* 이미지 줄임 */
}

header .inner-header .gnb {
  /* border: 3px solid red; */
  float: left;
  margin-left: 80px;
}
header .inner-header .gnb li {
  /* border: 3px dashed #000; */
  float: left;
  margin-right: 80px;
}
header .inner-header .gnb li a {
  display: block; /*클릭 영역 넓게 선택 가능하게 해줌*/
  color: #fff;
  font-size: 16px;
}
header .inner-header .gnb li a:hover {
  color: orange;
}
header .inner-header .gnb-mobile {
  display: none;
}

header .inner-header .tnb{
  /* border: 3px solid blue; */
  float: right;
  color: #fff;
  font-size: 16px;
}
header .inner-header .tnb li {
  float: left;
  margin-right: 80px;
 }
 header .inner-header .tnb li:first-child i, header .inner-header .tnb li:nth-child(2) i {
  margin-right: 8px;
  font-size: 18px; /* 아이콘은 폰트사이즈로 크기 조절 */
 }
 header .inner-header .tnb li:last-child i {
  margin-left: 5px;
 }
 header .inner-header .tnb li:last-child a{
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 5px 15px;
 }
 header .inner-header .tnb li:last-child a:hover {
  background: #fff;
  color: orange;
 }