@import url('common.css');


/* header */
header {
  background: rgba(0, 0, 0, 0.2);
  width: 100%; /* position값 주면 가로 깨져서 해줘야함 */
  height: 100px;
  line-height: 100px;
  position: fixed;
  top: 0;
  z-index: 9999;
}
header .inner-header {
  /* border: 3px solid tomato; */
  width: 84%;
  margin: 0 auto;
}

header .inner-header .logo {
  /* border: 3px solid violet; */
  float: left;
  width: 200px;
}
header .inner-header .logo img {
  width: 100%; /* 이미지 줄임 */
}

header .inner-header .gnb {
  /* border: 3px solid red; */
  float: left;
  margin-left: 80px;
}
header .inner-header .gnb li {
  /* border: 3px dashed #000; */
  float: left;
  margin-right: 80px;
}
header .inner-header .gnb li a {
  display: block; /*클릭 영역 넓게 선택 가능하게 해줌*/
  color: #fff;
  font-size: 16px;
}
header .inner-header .gnb li a:hover {
  color: orange;
}
header .inner-header .gnb-mobile {
  display: none;
}

header .inner-header .tnb{
  /* border: 3px solid blue; */
  float: right;
  color: #fff;
  font-size: 16px;
}
header .inner-header .tnb li {
  float: left;
  margin-right: 80px;
 }
 header .inner-header .tnb li:first-child i, header .inner-header .tnb li:nth-child(2) i {
  margin-right: 8px;
  font-size: 18px; /* 아이콘은 폰트사이즈로 크기 조절 */
 }
 header .inner-header .tnb li:last-child i {
  margin-left: 5px;
 }
 header .inner-header .tnb li:last-child a{
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 5px 15px;
 }
 header .inner-header .tnb li:last-child a:hover {
  background: #fff;
  color: orange;
 }

 /* section.main style */
section.main {
  background: url('../img/vis_4.jpg') no-repeat center/cover fixed;
  height: 100vh;
  position: relative;
}

section.main .main-title {
  /* background: red; */
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 10px #123;
}

section.main .main-title h2 {
  font-size: 55px;
}

section.main .main-title p {
  font-size: 25px;
  margin: 20px 0;
}
section.main .main-title .view {
  font-size: 15px;
  letter-spacing: 2px;

  display: block;
  width: 180px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 8px 0;
  overflow: hidden; /* 모서리 넘치는 거 지움 */

  position: relative;
}

section.main .main-title .view::after {
  content: '';
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s; /**/
}
section.main .main-title .view:hover::after {
  width: 100%;
}


/* section > div.title 공통 style */
section .title {
  text-align: center;
}

section .title h2 {
  font-size: 45px;
  color: #111;
  margin-bottom: 5px;
}

section .title p {
  font-size: 18px;
  color: #555;
}

section .sub-container {
  /* background: turquoise; */
  width: 74%;
  margin: 0 auto;
}

/* section.about style */
section.about {
  margin: 80px 0;
}
section.about ul.sub-container {
  /* background: yellowgreen; */
  margin-top: 30px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 30px;
}
section.about ul.sub-container li {
  float: left;
  width: 33.33%;
  height: 510px;
}
section.about ul.sub-container li a:hover .img-box img {
  transform: scale(1.2);
}
section.about ul.sub-container li .img-box {
  /* border-bottom: 2px solid #ddd; */
  overflow: hidden;
}
section.about ul.sub-container li .img-box img {
  /* opacity: 0.3; */
  width: 100%;
  transition: 0.6s;
}
section.about ul.sub-container li .text {
  /* border: 3px solid blue; */
  padding: 25px;
}
section.about ul.sub-container li .text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
section.about ul.sub-container li .text p {
  font-size: 16px;
  margin-bottom: 20px;
}
section.about ul.sub-container li .text .more {
  text-transform: uppercase;
  font-weight: 700;
  /* border: 2px solid #000; */
  position: relative;
  padding-left: 40px;
  /* height: 30px; */
}
section.about ul.sub-container li .text .more::before {
  content: '→';
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: orange;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: -7px;
}


section.innovation {
  /* background: yellowgreen; */
}
section.innovation .sub-container {
  /* background: violet; */
  margin-top: 30px;
  height: 540px;
  display: block;
  background-image: url(/img/product_1.jpg);
}
section.innovation .sub-container .inner {
  width: 50%;
  height: 240px;
  margin-left: 10%;
  margin-top: 24%;
  position: absolute;
  background: violet;
}
section.innovation .sub-container .inner .en {
  height: 90px;
  font-size: 20px;
  font-weight: 700;
  padding: 30px;
  
  background: #fff;
}
section.innovation .sub-container .inner span {
  color: orange;
  word-spacing: 10px;
}
section.innovation .sub-container .inner .bottom {
  height: 150px;
  color: #fff;
  display: block;
  background: #123;
}
section.innovation .sub-container .inner .bottom p {
  width: 80%;
  font-size: 20px;
  padding: 50px;
  line-height: 1.5;
  float: left;
}
section.innovation .sub-container .inner .bottom a {
  margin-top: 70px;
  padding: 7px 30px;
  text-align: center;
  border-radius: 20px;
  background: orange;
  position: absolute;
  float: right;
}
section.innovation .sub-container .inner .bottom a:hover{
  background: orangered;
}




section.me {
  margin-top: 250px;
  height: 890px;
  background: url(/img/me.jpg) no-repeat center/cover;
  display: block;
}
section.me .title {
  margin-top: 3%;
  margin-left: 40%;
  position: absolute;
}

section.me .sub-container {
  margin-top: 10%;
  margin-left: 10%;
  height: 70%;
  line-height: 110%;
  border-top: 3px solid #111;
  border-bottom: 3px solid #111;
  position: absolute;
}
section.me .sub-container li {
  margin: 3%;
}
/* section.me .sub-container li:first-child  */
section.me .sub-container h3 {
  font-size: 30px;
  font-weight: 600;
}

section.me .sub-container i {
  color: orange;
  margin-right: 1%;
}
section.me .sub-container p {
  margin: 1%;
  font-weight: 500;
}
section.me .sub-container > li:first-child {
  padding-bottom: 2%;
  border-bottom: 2px solid #ddd;
}
section.me .sub-container > li:first-child p {
  margin-left: 4%;
  line-height: 200%;
}
section.me .sub-container > li:first-child a {
 padding: 4%;
 font-weight: 700;
}

section.me .sub-container > li:nth-child(2) > p {
  margin-left: 4%;
}
section.me .sub-container > li:nth-child(2) > a {
  padding: 4%;
  line-height: 500%;
  font-weight: 700;
}
section.me .sub-container .in {
  margin-left: 10%;
}
section.me .sub-container .in em {
  margin-left: -8%;
  font-weight: 700;
  position: absolute;
}
section.me .sub-container .in em::after {
  content: '●';
  font-size: 50%;
  color: orange;
  left: 100px;
  top: 0;
  position: absolute;
}
#incruit-btn {
  margin-top: 40%;
  margin-left: 42%;
  padding: 10px 60px;
  text-align: center;
  font-size: large;
  font-weight: 600;
  border-radius: 50px;
  background: orange;
  position: absolute;
  color: #fff;
}
#incruit-btn:hover {
  background: orangered;
  cursor: pointer;
}


section.sns {
  margin-top: 50px;
  margin-bottom: 60px;
}

section.sns ul {
  /* background: orange; */
  margin: 50px auto;
}
section.sns ul li {
  /* border: 3px solid #000; */
  width: 32%;
  float: left;
  margin-right: 2%;
}
section.sns ul li:last-child {
  margin-right: 0;
}
section.sns ul li .img-box {
  height: 225px;
  overflow: hidden;
  position: relative;
}
section.sns ul li .img-box img {
  width: 100%;
  /* opacity: 0.4; */
}