@import url('common.css');


/* header */
header {
  background: rgba(0, 0, 0, 0.2);
  width: 100%; /* position값 주면 가로 깨져서 해줘야함 */
  height: 100px;
  line-height: 100px;
  position: fixed;
  top: 0;
  z-index: 9999;
}
header .inner-header {
  /* border: 3px solid tomato; */
  width: 84%;
  margin: 0 auto;
}

header .inner-header .logo {
  /* border: 3px solid violet; */
  float: left;
  width: 200px;
}
header .inner-header .logo img {
  width: 100%; /* 이미지 줄임 */
}

header .inner-header .gnb {
  /* border: 3px solid red; */
  float: left;
  margin-left: 80px;
}
header .inner-header .gnb li {
  /* border: 3px dashed #000; */
  float: left;
  margin-right: 80px;
}
header .inner-header .gnb li a {
  display: block; /*클릭 영역 넓게 선택 가능하게 해줌*/
  color: #fff;
  font-size: 16px;
}
header .inner-header .gnb li a:hover {
  color: orange;
}
header .inner-header .gnb-mobile {
  display: none;
}

header .inner-header .tnb{
  /* border: 3px solid blue; */
  float: right;
  color: #fff;
  font-size: 16px;
}
header .inner-header .tnb li {
  float: left;
  margin-right: 80px;
 }
 header .inner-header .tnb li:first-child i, header .inner-header .tnb li:nth-child(2) i {
  margin-right: 8px;
  font-size: 18px; /* 아이콘은 폰트사이즈로 크기 조절 */
 }
 header .inner-header .tnb li:last-child i {
  margin-left: 5px;
 }
 header .inner-header .tnb li:last-child a{
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 5px 15px;
 }
 header .inner-header .tnb li:last-child a:hover {
  background: #fff;
  color: orange;
 }

 /* section.main style */
section.main {
  background: url('../img/vis_4.jpg') no-repeat center/cover fixed;
  height: 100vh;
  position: relative;
}

section.main .main-title {
  /* background: red; */
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 10px #123;
}

section.main .main-title h2 {
  font-size: 55px;
}

section.main .main-title p {
  font-size: 25px;
  margin: 20px 0;
}
section.main .main-title .view {
  font-size: 15px;
  letter-spacing: 2px;

  display: block;
  width: 180px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 8px 0;
  overflow: hidden; /* 모서리 넘치는 거 지움 */

  position: relative;
}

section.main .main-title .view::after {
  content: '';
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s; /**/
}
section.main .main-title .view:hover::after {
  width: 100%;
}